{% extends "home/layout.html"%} {% load static%} {% block body %}

<section id="banner_parallax" class="inner_page_banner slide_banner1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="slide_cont">
            <h2>About us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end header -->
<!-- section -->
<section class="layout_padding padding_top_0">
  <div class="container col-sm-12 col-xs-12">
    <div class="imf_icon">
      <img src="{% static 'home/images/about.png'%}" alt="#" />
    </div>

    <p class="lead" style="text-align: justify;">
      We guarantee efficiency and proper verification processes to ensure your
      new hire is what they say they are and go above and beyond to discover the
      undiscover of our competitors.
    </p>
    <h4>Why Use Us for This Purpose</h4>
    <p class="lead" style="text-align: justify;">
      Our experts have decades of experience in security and Identity checks and
      their expertise gives them the leverage to handle the process with
      uttermost proficiency. Unlike our competitors, we give companies the
      option to have a choice of either doing a complete background check or
      partial aspect of the candidate for which the fees are dependent on your
      choice. You are guaranteed the highest and most secured protection to your
      Information and data as our experts are licensed Cyber Security experts
      governed under the rules of HIPAA -HITECH NAPA, Military Intelligence and
      many more that restrict us from keeping data unsafe. We don't just scan
      your candidate for generic Information as commonly done , we proceed
      further by making sure every contact on the resume is reached and cross
      checked with the prospective companies , as well as checking the real
      contacts of the previously worked companies against the contacts on the
      resumes . Last but not the least we save you time and money to ensure your
      new hire is more than qualified for the vacancy you hope to fill. And we
      do this by diving deeper into the candidate’s background before assuring
      you of their Identity.
    </p>
  </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding gradiant_bg cross_layout">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="full text_align_center white_fonts">
          <div class="heading_main center_head_border heading_style_1">
            <h2>Easy <span>Steps</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row step_section">
      <div class="offset-xl-1 col-xl-10 col-md-12">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="step_blog arrow_right_step">
              <div class="step_inner">
                <i class="fa fa-diamond"></i><br />
                <p>Go app store</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="step_blog">
              <div class="step_inner">
                <i class="fa fa-user"></i><br />
                <p>Create an Account</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="step_blog">
              <div class="step_inner">
                <i class="fa fa-download"></i><br />
                <p>Download & Install</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="step_blog">
              <div class="step_inner">
                <i class="fa fa-thumbs-up"></i><br />
                <p>Enjoy & Rate us!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock%}
