
{% extends "home/layout.html"%}
{% load static%}
    
    
{% block body %}

 
    <section id="banner_parallax" class="slide_banner1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full">
                        <div class="slide_cont">
                            <h2>Grow Your Business With Confidence</h2>
                            <p>Our experts have decades of experience in security and Identity checks and their expertise gives them the leverage to handle the process with uttermost proficiency. Unlike our competitors, we give companies the option to have
                                a choice of either doing a complete background check or partial aspect of the candidate for which the fees are dependent on your choice.</p>
                            <div class="full slide_bt"> <a class="white_bt bt_main" href="{% url 'home:services'%}">Our Services</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full">
                        <div class="slide_pc_img wow fadeInRight" data-wow-delay="1s" data-wow-duration="2s"> <img src="{% static 'home/images/pc-banner.png'%}" alt="#" /> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end header -->
    <!-- section -->
    <section class="layout_padding padding_top_0">
        <div class="container">
            <div class="row margin_bottom_30">
                <!-- featured cont -->
                <div class="col-md-6 cont_theme_blog">
                    <div class="full">
                        <h3>HIRE SOMEONE YOU TRUST</h3>
                        <p>We empower decisions about life's big financial moments - and the small ones, too. From opening new accounts to validating deposits to making payments, our exclusive intelligence is used by more than 2,500 financial institutions
                            to take friction out of finance, and bring trust to transactions.</p>
                    </div>
                </div>
                <!-- end featured cont -->
                <!-- featured image -->
                <div class="col-md-6 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s">
                    <div class="full">
                        <div class="center"><img class="low-res" src="{%static 'home/images/ser1.png'%}" alt="#" /></div>
                    </div>
                </div>
                <!-- end featured image -->
            </div>
            <div class="row margin_bottom_30 flextest">
                <!-- featured image -->
                <div class="col-md-6 wow fadeInLeft flex_target" data-wow-delay="0.5" data-wow-duration="1s">
                    <div class="full">
                        <div class="center"><img class="low-res" src="{%static 'home/images/ser2.png'%}" alt="#" /></div>
                    </div>
                </div>
                <!-- end featured image -->
                <!-- featured cont -->
                <div class="col-md-6 cont_theme_blog"> 
                    <div class="full">
                        <h3>FIDUCIARY RELATIONSHIPS</h3>
                        <p>The COVID-19 pandemic has accelerated the use of digital technology in all aspects of life, and financial services is no exception. Suddenly, financial institutions and their customers both have a new incentive to embrace digital
                            banking services.</p>
                    </div>
                </div>
                <!-- end featured cont -->
            </div>
            <div class=" row margin_bottom_30 ">
                <!-- featured cont -->
                <div class="col-md-6 cont_theme_blog ">
                    <div class="full ">
                        <h3>INFORMED DECISION MAKING</h3>
                        <p>Open accounts faster, enhance bank apps, and protect against fraud and financial crime with platform solutions for identity verification and authentication.</p>
                    </div>
                </div>
                <!-- end featured cont -->
                <!-- featured image -->
                <div class="col-md-6 wow fadeInRight " data-wow-delay="0.5 " data-wow-duration="1s ">
                    <div class="full ">
                        <div class="center"><img class="low-res" src="{% static 'home/images/ser3.png'%}" alt="# " /></div>
                    </div>
                </div>
                <!-- end featured image -->
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- section -->
    <section class="layout_padding gradiant_bg cross_layout ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-4 ">
                    <div class="information_blogs ">
                        <div class="imf_icon "><img src="{% static 'home/images/icon1.png'%}" alt="# " /></div>
                        <div class="imf_head ">
                            <h3>Awesome Services</h3>
                        </div>
                        <div class="imf_cont ">
                            <p>We offer many services across verity of categories to make your business easier. Such as, <strong>Criminal background Check, Education Verification, ID &Driving Verification Services and many more!</strong></p>
                        </div>
                        <div class="imf_read "><a href="{% url 'home:about' %}">Read More</a></div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="information_blogs ">
                        <div class="imf_icon "><img src="{% static 'home/images/icon2.png'%}" alt="# " /></div>
                        <div class="imf_head ">
                            <h3>Creative Soloutions</h3>
                        </div>
                        <div class="imf_cont ">
                            <p>From opening your ﬁrst checking account on graduation day to applying for a mortgage for your dream house, our intelligence is used to inform money moments – big and small – every day.</p>
                        </div>
                        <div class="imf_read "><a href="{% url 'home:about' %}">Read More</a></div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-items-stretch ">
                    <div class="information_blogs ">
                        <div class="imf_icon "><img src="{% static 'home/images/icon3.png'%}" alt="# " /></div>
                        <div class="imf_head ">
                            <h3>24 Hours Supports</h3>
                        </div>
                        <div class="imf_cont ">
                            <p>We make every effort to respond to email communications within an hour. Our Trained experts are available 24/7 to provide professional support related to your business .</p>
                        </div>
                        <div class="imf_read "><a href="{% url 'home:about' %}">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- section -->
    <section class="layout_padding layer_style ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-12 ">
                    <div class="full text_align_center ">
                        <div class="heading_main center_head_border heading_style_1 ">
                            <h2>Our <span>Services</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row app-features ">

                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="information_blogs special ">
                        <div class="imf_icon "><img src="{% static 'home/images/id-card.png'%}" alt="id card image" /></div>
                        <div class="imf_head ">
                            <h3>Background Check</h3>
                            <a class="white_bt bt_main bt_special " href="{% url 'home:services'%}#bg-check">Know More</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="information_blogs special ">
                        <div class="imf_icon "><img src="{% static 'home/images/rental.png'%}" alt="house image " /></div>
                        <div class="imf_head ">
                            <h3>Rental History</h3> <a class="white_bt bt_main bt_special " href="{% url 'home:services'%}#rental-history">Know More</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="information_blogs special ">
                        <div class="imf_icon "><img src="{% static 'home/images/banking.png'%}" alt="Bank Image" /></div>
                        <div class="imf_head ">
                            <h3>Banking & Credit</h3>
                            <a class="white_bt bt_main bt_special " href="{% url 'home:services'%}#banking">Know More</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="information_blogs special ">
                        <div class="imf_icon "><img src="{% static 'home/images/folder.png'%}" alt="Folder Image" /></div>
                        <div class="imf_head ">
                            <h3 style="font-size: 18px;">ID & Driving Records</h3>
                            <a class="white_bt bt_main bt_special " href="{% url 'home:services'%}#driving">Know More</a>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- section -->
    <section class="layout_padding gradiant_bg cross_layout ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-12 ">
                    <div class="full text_align_center white_fonts ">
                        <div class="heading_main center_head_border heading_style_1 ">
                            <h2>Easy <span>Steps</span></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row step_section ">
                <div class="offset-xl-1 col-xl-10 col-md-12 ">
                    <div class="row ">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
                            <div class="step_blog arrow_right_step ">
                                <div class="step_inner ">
                                    <i class="fa fa-globe "></i><br>
                                    <p>Visit Our Website</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
                            <div class="step_blog ">
                                <div class="step_inner ">
                                    <i class="fa fa-search "></i><br>
                                    <p>Explore Our Services</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
                            <div class="step_blog ">
                                <div class="step_inner ">
                                    <i class="fa fa-edit "></i><br>
                                    <p>Fill the Contact Form</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 ">
                            <div class="step_blog ">
                                <div class="step_inner ">
                                    <i class="fa fa-thumbs-up "></i><br>
                                    <p>Enjoy & Rate Our Work</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- section -->
    <section class="layout_padding ">
        <div class="container ">
            <div class="row ">
                <div class="full ">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="full text_align_center ">
                                <div class="heading_main center_head_border heading_style_1 ">
                                    <h2>Quality Policy</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="policy col-sm-12">
                    <p>Our <span>Quality Policy</span> is defined and strongly driven by the following management principles and behaviors: </p>
                    <ul>
                        <li>Build a mutually profitable relationship with our customers, ensuring their long-term success, through the understanding of their needs and the needs of their customers as well</li>
                        <li>Achieve our commitments for quality, cost, and schedule</li>
                        <li>Enhance the systematic research and use of best preventive practices at all levels and ensure reliable risk management</li>
                        <li>Drive continual improvement and innovation based upon efficient business processes, well-defined measurements, best practices, and customer surveys</li>
                        <li>Develop staff competencies, creativity, empowerment and accountability through appropriate development programs and show strong management involvement and commitment</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- section -->
    <section class="contact_section ">
        <div class="container-fluid ">
            <div class="row ">
                <div class="col-xs-12 col-sm-12 col-md-6 " style="padding:0; ">
                    <div class="full ">
                        <div id="map"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 " style="padding:0; ">
                    <div class="full ">
                        <div class="contact_form white_heading_border ">
                            <div class="contact_form_inner ">
                                <div class="full_heading white_fonts heading_main heading_style_1 ">
                                    <h2>Contact <span>us</span></h2>
                                </div>
                                <p>In case of any question or query, fill out the form below and we will be in touch shortly.</p>
                                <div class="form_contact ">
                                    <!-- form -->
                                    <form action="{% url 'home:index' %}" method="post">
                                        {% csrf_token %}
                                        <fieldset>
                                            <div class="field ">
                                                <input type="text" name="username" placeholder="Your name " required=" ">
                                            </div>
                                            <div class="field ">
                                                <input type="text" name="phone" placeholder="Your phone " required=" ">
                                            </div>
                                            <div class="field ">
                                                <input type="email" name="email" placeholder="Email " required=" ">
                                            </div>
                                            <div class="field ">
                                                <textarea name="message" placeholder="Enter Message" required=" "></textarea>
                                            </div>
                                            <div class="field ">
                                                <button class="field_bt ">Send</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <!-- end form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
{% endblock %}