{% extends "home/layout.html"%} {% load static %} {% block body %}

<section id="banner_parallax" class="slide_banner1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="slide_cont">
            <h2>Services</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end header -->
<!-- section -->
<section class="layer_style">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="full text_align_center">
          <div class="heading_main center_head_border heading_style_1">
            <h2 style="font-weight: 300;">
              Our Services Work Together -<span> For You</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- SERVICE # 1 -->
    <div class="background-check">
      <h3 class="services_head" id="bg-check">background Check</h3>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex">
            <div class="information_blogs not special">
              <div class="imf_icon">
                <img src="{% static 'home/images/jail.png'%}" alt="#" />
              </div>
              <div class="imf_head">
                <h3>Criminal background check</h3>
                <p class="services_info">
                  It Is the goal of every employer to Increase safety and
                  mitigate the risk of fraud and petty theft at the workplace,
                  in view of this we strive to deliver the most in-depth
                  criminal background check packages for employers. We don't
                  just give Information of citations and court orders but rather
                  a precise offence records, dates and all relevant
                  information’s pertaining to the occurrences to help you as an
                  employer to make your decision on the candidate.
                </p>
                <a
                  class="white_bt bt_main bt_special"
                  href="{% url 'home:pricing'%}#order-now"
                  >Order Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="information_blogs not special">
              <div class="imf_icon">
                <img src="{% static 'home/images/certificate.png'%}" alt="#" />
              </div>
              <div class="imf_head">
                <h3>Education Verification</h3>
                <p class="services_info">
                  We make sure your potential new hire holds a valid credential
                  from the said Institution been reported on the resumes and
                  curriculum vitae's. Our quick and reliable findings guarantee
                  you the peace of mind to hire the best candidate out of the
                  many to help the growth of your company. Candidates with the
                  relevant training and qualifications upfront helps reduces
                  organizational turnover and increases employee retention,
                  productivity and saves your company money in the long run.
                </p>
                <a
                  class="white_bt bt_main bt_special"
                  href="{% url 'home:pricing'%}#order-now"
                  >Order Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="driving">
            <div class="information_blogs not special">
              <div class="imf_icon">
                <img src="{% static 'home/images/drive.png'%}" alt="#" />
              </div>
              <div class="imf_head">
                <h3>ID & Driving Verification Services</h3>
                <p class="services_info">
                  Companies and institutions looking to employ drivers can rely
                  on our detailed screening services to ensure the right
                  candidate with decent driving records is employed to mitigate
                  the risk of drunk driving and recklessness. We provide you the
                  peace of mind knowing your candidates have clean driving
                  records and DUI free. Our process guarantee’s fast, efficient,
                  and reliable results which gives you a better and qualified
                  hire.
                </p>
                <a
                  class="white_bt bt_main bt_special"
                  href="{% url 'home:pricing'%}#order-now"
                  >Order Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SERVICE # 2 -->

    <div class="rental" id="rental-history">
      <h3 class="services_head" id="bg-check">Rental History</h3>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="information_blogs not special">
              <div class="imf_icon">
                <img src="{% static 'home/images/rent.png'%}" alt="#" />
              </div>
              <div class="imf_head">
                <h3>Rental Services</h3>
                <p class="services_info">
                  Landlords real estate developers and agents can count on
                  Morrison records bureau for extensive and detailed background
                  check on rental history, character references as well as
                  eviction history for the past 7 years. Our services go above
                  and beyond ands what makes us unique from our competitors Is
                  our commitment of making real estate developers, agents and
                  landlords feel more like a partner rather than a client. What
                  do we mean by making you feel like partners? Our experiences
                  in most projects from the International projects in certain
                  countries has taught us some lessons which made us went an
                  extra mile of acting as a mediator between renters, mortgage
                  owners, landlords and real estate developers respectively. We
                  sell a package where your prospective tenant will be screened
                  from criminal, employment, previous addresses checks and
                  salary verifications to make sure they are capable of
                  remitting Invoices and payments in future. In developing
                  countries, we have gone as far as setting an auto-payment
                  arrangement between landlords, real estate agents and
                  developers to see to It that their payments are directly
                  debited from the tenant’s paycheck and credited to the
                  accounts of such landlords respectively. This service Is
                  limited to few countries and company that meets the
                  eligibility for enrollment. For more Information on this
                  service contact us
                </p>
                <a
                  class="white_bt bt_main bt_special"
                  href="{% url 'home:pricing'%}#order-now"
                  >Order Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SERVICE # 3 -->

    <div class="accident">
      <h3 class="services_head" id="acc-report">Accident Report</h3>
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex align-items-stretch"
          >
            <div class="information_blogs not special">
              <div class="imf_icon">
                <img src="{% static 'home/images/lost_car.png'%}" alt="#" />
              </div>
              <div class="imf_head">
                <h3>Lost Vehicle Search Services</h3>
                <div class="sub-icon">coming soon</div>
                <p class="services_info">
                  There are occasions where rental companies lose their vehicles
                  due to non-trackable devices in the cars, Individuals also get
                  their vehicles missing due to trust they exert in
                  relationships and friendships; Morrison records Bureau Is
                  passionate about helping people that are been preyed. If for
                  some reason you lost your vehicle and suspects Its been
                  registered elsewhere, submit copies of the documentation and
                  we will make sure you find a trace to the location of your
                  vehicle.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="information_blogs not special">
              <div class="imf_icon">
                <img src="{% static 'home/images/ats.png'%}" alt="#" />
              </div>
              <div class="imf_head">
                <h3>ATS Integration Services</h3>
                <div class="sub-icon">coming soon</div>

                <p class="services_info">
                  We offer hiring streamline services for your convenience; you
                  have the option to collaborate your hiring tracking system
                  with background check needs. Give us the hard work and relieve
                  your human resource department from hectic and stressful
                  processes. We will automate your process and streamline your
                  entire experience for your simple tracking. If you ever
                  experienced the services of companies like ICIMS Talent
                  Acquisition, we promise extreme better experience than this
                  company can offer. You can sit back, and we will handle you’re
                  ATS integration, In-house customer service and speedy
                  background checks all in one-member package which will cost
                  you less than purchasing the services separately.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="banking">
            <div class="information_blogs not special">
              <div class="imf_icon">
                <img src="{% static 'home/images/bank_check.png'%}" alt="#" />
              </div>
              <div class="imf_head">
                <h3>Banking History and Credit Checks</h3>
                <p class="services_info">
                  Morrison records bureau has built strong legal relations with
                  International, federal and national financial institutions who
                  are dedicated in working with us to give you the right
                  information. Most people have multiple load accounts that are
                  not known to other financial institutions which gives
                  opportunities to the smart privileged applicants to always
                  outsmart banks and loan companies living the legitimate
                </p>
                <a
                  class="white_bt bt_main bt_special"
                  href="{% url 'home:pricing'%}#order-now"
                  >Order Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding gradiant_bg cross_layout">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="full text_align_center white_fonts">
          <div class="heading_main center_head_border heading_style_1">
            <h2>Easy <span>Steps</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row step_section">
      <div class="offset-xl-1 col-xl-10 col-md-12">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="step_blog arrow_right_step">
              <div class="step_inner">
                <i class="fa fa-diamond"></i><br />
                <p>Go app store</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="step_blog">
              <div class="step_inner">
                <i class="fa fa-user"></i><br />
                <p>Create an Account</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="step_blog">
              <div class="step_inner">
                <i class="fa fa-download"></i><br />
                <p>Download &amp; Install</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
            <div class="step_blog">
              <div class="step_inner">
                <i class="fa fa-thumbs-up"></i><br />
                <p>Enjoy &amp; Rate us!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->
{% endblock %}
